.popup__container_image {
  position: fixed;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0px;
  background: transparent;
}

@media screen and (max-width: 450px) {
  .popup__container_image {
    max-width: 75vw;
    max-height: 75vh;
    padding: 0px;
  }
}

