.profile__info {
  display: flex;
  margin: auto auto auto 30px;
  color: #fff;
  max-width: 336px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 700px){
  .profile__info {
    margin: 22px auto 0;
  }
}
