.profile {
  max-width: 1280px;
  display: flex;
  margin: 40px auto 0;
}

@media screen and (max-width: 700px){
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 42px auto 0;
  }
}
