.header__link {
    margin: 0;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    justify-self: end;
    cursor: pointer;
  }
  