.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  display: block;
  background-image: url(../../../images/avatar_placeholder.jpg);
  background-size: cover;
  background-position: center;
}

.profile__avatar:hover {
  cursor: pointer;
}

.profile__avatar::after {
  content: '';
  display: block;
  position: relative;
  right: 4.4px;
  bottom: 1px;
  width: 100%;
  height: 100%;
  padding: inherit;
  margin-left: 0;
  background-image: url(../../../images/big-edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.profile__avatar:hover::after {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}


