.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  position: absolute;
  right: 15px;
  bottom: 35px;
  padding: 5%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.element__like:hover {
  opacity: 50%;
}
